  <!-- JavaScript Plugins -->
    <script src="__PUBLIC__/Admin/js/libs/jquery-1.8.3.min.js"></script>
    <script src="__PUBLIC__/Admin/js/libs/jquery.mousewheel.min.js"></script>
    <script src="__PUBLIC__/Admin/js/libs/jquery.placeholder.min.js"></script>
    <script src="__PUBLIC__/Admin/custom-plugins/fileinput.js"></script>
    
    <!-- jQuery-UI Dependent Scripts -->
    <script src="__PUBLIC__/Admin/jui/js/jquery-ui-1.9.2.min.js"></script>
    <script src="__PUBLIC__/Admin/jui/jquery-ui.custom.min.js"></script>
    <script src="__PUBLIC__/Admin/jui/js/jquery.ui.touch-punch.js"></script>

    <!-- Plugin Scripts -->
    <script src="__PUBLIC__/Admin/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src="__PUBLIC__/Admin/plugins/colorpicker/colorpicker-min.js"></script>

    <!-- Core Script -->
    <script src="__PUBLIC__/Admin/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Admin/js/core/mws.js"></script>

    <!-- Themer Script (Remove if not needed) -->
    <script src="__PUBLIC__/Admin/js/core/themer.js"></script>

    <!-- Demo Scripts (remove if not needed) -->
    <script src="__PUBLIC__/Admin/js/demo/demo.calendar.js"></script>